* {
    margin: 0;
    padding: 0;
    font-size: 16px;
    box-sizing: border-box;
}

body {
    max-width: 70%;
    margin: 0 auto;
    background: #280828;
}

#p_info_container,
#ed_exp_container {
    display: flex;
    flex-flow: column nowrap;
    gap: 20px;
}

#ed_exp_container {
    margin-top: 20px;
}

#p_info_container > h1,
#ed_exp_container > h1 {
    align-self: center;
    justify-self: center;
    color: mistyrose;
    font-size: 2rem;
}

form {
    display: flex;
    flex-flow: column nowrap;
    gap: 10px;
}

form > * {
    padding: 2px 8px;
}

#user_intro {
    resize: none;
}
