* {
    margin: 0;
    padding: 0;
    font-size: 16px;
    box-sizing: border-box;
}

body {
    max-width: 70%;
    margin: 0 auto;
    background: #280828;
}

#p_info_container,
#ed_exp_container,
#pract_exp_container {
    display: flex;
    flex-flow: column nowrap;
    gap: 20px;
}

#ed_exp_container,
#pract_exp_container {
    margin-top: 20px;
}

#pract_exp_container {
    margin-bottom: 20px;
}

#p_info_container > h1,
#ed_exp_container > h1,
#pract_exp_container > h1 {
    align-self: center;
    justify-self: center;
    color: mistyrose;
    font-size: 2rem;
}

form {
    display: flex;
    flex-flow: column nowrap;
    gap: 10px;
}

form > * {
    padding: 2px 8px;
}

#user_intro {
    resize: none;
}

.error_msg {
    color: #cc0000;
    margin-top: -9px;
    margin-bottom: -6px;
    font-size: 0.8rem;
    user-select: none;
}

.side_btn {
    border: none;
    border-radius: 10px;
    padding: 5px 15px;
    cursor: pointer;

    position: fixed;
    top: 50%;
    right: 3%;

    transform: translateY(-50%);
}

.modal.cv {
    border: 1px solid #444;
    border-radius: 15px;
    padding: 15px;

    position: fixed;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    /* display: flex;
    justify-content: space-between;
    gap: 5%; */

    display: grid;
    grid-template-columns: 20% 80%;

    width: 80vw;
    height: calc(100vh + 1px);
    pointer-events: all;
    background: #c894f3;

    box-shadow: 5px 5px 5px royalblue;
    color: #280828;
}

.img_container {
    padding: 0 10px;
}

.pfpic {
    width: 100%;
    height: 100%;
    background: mistyrose;
}

.input_values {
    display: flex;
    flex-flow: column nowrap;
    gap: 3%;
}

.info_wrapper {
    text-align: center;
}

.info_wrapper > span {
    font-weight: bold;
}

.section_details {
    display: flex;
    flex-flow: column nowrap;
    gap: 15px;

    border: 2px solid gray;
    border-radius: 15px;
    padding: 10px 20px;
    box-shadow: 2px 2px 10px #222;
}

.personal_info .group_data {
    display: grid;
    gap: 20px;
    grid-template-columns: 50% 50%;
}

.value_email,
.value_intro {
    grid-column: 1 / -1;
}

.value_intro {
    word-wrap: break-word;
}

.group_section_header {
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
}
